[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[dev-packages]
mamba = "*"
expects = "*"
doublex-expects = "==0.7.0rc2"

[packages]
google-cloud = "*"
sdcclient = "*"
flask = "*"
gunicorn = "*"
google-api-python-client = "*"
google-cloud-securitycenter = "*"
